<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <%= @station.name %> (<%= @station.address %>)
    </div>
  </div>
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
</div>
<%= render(partial: "form") %>
