<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <%= @station.name %> (<%= @station.address %>)
    </div>
  </div>
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
  <%= render(partial: "form") %>
  <div class="button return-container">
      <%= link_to 'Return to Map', stations_path() %>
  </div>
</div>