<%= form_with model: @user, local: true do |form| %>

  <% if @user.errors.any? %>
    <div>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </div>
  <% end %>

  <%= @user.errors.full_messages.inspect %>

  <div>
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :first %>
    <%= form.text_field :first %>
  </div>
  <div>
    <%= form.label :last %>
    <%= form.text_field :last %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <%= form.submit "Sign Up" %>
<% end %>
