<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
    <div class="section-title-centered">
      Your Ride History
    </div>
    <h1>You have biked <%= current_user.hours.truncate() %> hours on <%= Rental.where(user_id: current_user.id).count %> rides!</h1>
    <%= link_to user_path(current_user), class: "button" do %>
      Return to Profile
    <% end %>
    <div>
        <% @rentals = Rental.where(user_id: current_user.id, active: false) %>
          <div class="max-w-7xl mx-auto mt-12">
          <center>
            <%= render "history", rentals: @rentals %>
            </center>
          </div>
    </div>
</div>