<%= render(partial: 'layouts/header') %>
<div>
  <h1 class="font-bold text-4xl">Sign up!</h1>
</div>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :first %>
    <%= form.text_field :first %>
  </div>
  <div>
    <%= form.label :last %>
    <%= form.text_field :last %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <%= form.submit "Sign Up" %>
<% end %>