<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title-centered">
            About VectorBike
        </div>
        <div class="row">
            <div class="column" style="font-size: 18px;">
                <h1>Our Story</h1>
                <br>
                <p>VectorBike is a bike rental system in Nipmuc Notch. We offer electric bike rentals for people who want to commute or go for a casual ride. Our low commitment program allows for bikers to rent bikes as often or infrequently as preferred.</p>
                <p><br>Our electric bikes make biking accessible for riders of all skill levels. Whether your desire to ride an e-bike comes from a passion for the environment or a love of biking, VectorBike is perfect for you!</p>
                <h1><br>Customer Testimonials</h1>
                <p><strong>Justine Roberts:</strong> I live in Nlorence, and commute to downtown Nipmuc Notch multiple times a week. I love how VectorBike is low commitment, sustainable and I can rent a bike anytime. They also have excellent customer service!</p>
                <%= image_tag('rating.png', class: "rating_image", alt: '5/5 stars') %>
                <br>
                <p><br><strong>Steve Adams:</strong> I love riding bikes with my wife, so I love that I can rent multiple bikes at once! The website is also incredibly easy for me to use. I never get confused.</p>
                <%= image_tag('rating.png', class: "rating_image", alt: '5/5 stars') %>
                <br>
            </div>
            <div class="column">
                <%= image_tag('valley_bike.png', alt: 'Valley Bike') %>
            </div>
        </div>
        <br>
        <div class="section-title-centered">
            About the Developers
        </div>
        <center>
            <div style="font-size: 18px;">
                VectorBike was developed by Emma Ruckle, Molly Neu, Molly Daniel, Skye Weaver Worster, and Sydney Weisberg.
            </div>
        </center>
        <div class="snail_container">
            <%= image_tag('emma.png', class: "snail_pics", alt: 'Emma Snail') %>
            <%= image_tag('mollyn.png', class: "snail_pics", alt: 'Molly N Snail') %>
            <%= image_tag('mollyd.png', class: "snail_pics", alt: 'Molly D Snail') %>
        </div>
        <div class="snail_container">
            <%= image_tag('skye.png', class: "snail_pics", alt: 'Skye Snail') %>
            <%= image_tag('syd.png', class: "snail_pics", alt: 'Sydney Snail') %>
        </div>
        <center>
            <div style="font-size: 18px;">
                <h1>Contact Us</h1>
                <p>1 Chapin Way</p>
                <p>Northampton, MA 01063</p>
                <p>1-800-BICYCLE</p>
                <p>help@vectorbike.com</p>
            </div>
        </center>
    </div>
</div>