<ul>
    <li class="logo"><%= link_to(image_tag('new_bike_icon.png', alt: 'Bike icon'), root_path) %></li>
    <% if user_signed_in? %>
    <li><%= button_to 'Log Out', logout_path, method: :delete, class: "header" %></li>
    <%= link_to user_path(current_user), class: "header" do %>
      Profile
    <% end %>
    <% else %>
    <%= link_to signup_path, class: "header" do %>
      Sign Up
    <% end %>
    <%= link_to login_path, class: "header" do %>
      Sign In
    <% end %>
  <% end %>
  <% if active_rental? %>
  <%# if there is an active rental, link to rental list page %>
  <%= link_to rentals_path, class: "header" do %>
    Rent
  <% end %>
  <% else %>
  <%= link_to stations_path, class: "header" do %>
    Rent
  <% end %>
  <% end %>
  <%= link_to about_path, class: "header" do %>
    About
  <% end %>
  <%= link_to root_path, class: "header" do %>
    Home
<% end %>
</ul>

<script>
  const logo = document.querySelector(".logo");
  const maxOffset = 300; // Maximum distance the logo should move

  // Function to calculate and update the logo position
  function updateLogoPosition() {
    const scrollY = window.scrollY; // Current scroll position
    const newPosition = Math.min(scrollY, maxOffset); // Limit movement
    logo.style.transform = `translateX(${newPosition}px)`; // Apply transformation
  }

  // Update the logo position on scroll
  window.addEventListener("scroll", updateLogoPosition);

  // Update when the window regains focus
  window.addEventListener("focus", updateLogoPosition);
</script>

